/* シェア */

.share-block-wrapper {
    padding: 48px 22px 107px 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
}


.share-block-inner {
    display: flex;
    flex-direction: column;
    width:fit-content;
    gap: 32px;
}

.share-block-inner a {
    opacity: 1;
    transition: transform 0.5s ease-out;
}

.share-block-inner a:hover {
    transform: translateY(-4px);
}

.share-x-twitter {
    background-color: var(--color-text);
    display: flex;
    width: fit-content;
    gap: 24px;
    padding: 12px 32px;
    color: #fff;
    border-radius: 40px;
    font-size: 14px;
}

.share-x-twitter img {
    width: 28px;
    height: auto;
}

.share-x-twitter p {
    text-align: right;
    font-weight: 700;
}

.share-sns-other {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.share-other-icon img {
    width: 48px;
    height: auto;
}

.share-instagram img {
    width: 28px;
    height: auto;
}

.share-instagram-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #FF6600;
    min-width: 48px;
    min-height: 48px;
}


/* フッター */
.st-footer-wrapper {
    padding: 24px 22px 54px 22px;
    width: calc(100%-44px);
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #333;
}
.st-footer-inner {
    display: flex;
    width: 100%;
    gap: 66px;
    flex-direction: column;
}

.st-footer-date {
    display: flex;
    justify-content: center;
}

.st-footer-date img {
    width: 100%;
    height: auto;
}

.st-footer-logo {
    display: flex;
    justify-content: center;
}

.mega-menu {
    display: flex;
    justify-content: space-between;
}

.menu-column {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    margin-bottom: 24px;
    line-height: 1.4;
    transition: color 0.5s ease;
}

.menu-link.current {
    color: #ffc702; /* 強調色（TOPなど） */
}

.menu-link:hover {
    color: #ffc702; /* ホバー時の強調色 */
}

.menu-en {
    display: block;
    font-size: 24px;
    font-weight: bold;
}

.menu-ja {
    display: block;
    font-size: 16px;
    margin-top: 4px;
}

.menu-small {
    display: block;
    font-size: 14px;
    color: #fff;
    margin-top: 8px;
    width:fit-content;
    text-decoration: none;
    transition: color 0.5s ease;
}

.sponsored-by {
    text-align: center;
    color: #fff;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sponsored-by h3 {
    width: 100%;
    margin-bottom: 16px;
    font-size: 18px;
}

.sponsored-by a {
    margin: 0 12px;
}

.sponsored-by img {
    width: 280px;
    height: auto;
    margin-bottom: 18px;
    border-radius: 4px;
}

.st-footer-copyright {
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
}

@media screen and (min-width: 1024px) {
    .st-footer-wrapper {
        width: 432px;
        padding: 24px 44px 54px 44px;
    }

    .share-x-twitter {
        gap: 36px;
        font-size: 16px;
    }

    .share-other-icon img {
        width: 64px;
        height: auto;
    }

    .share-instagram img {
        width: 36px;
        height: auto;
    }

    .share-instagram-inner {
        width: 64px;
        height: 64px;
    }
}