/* フッター */

.st-footer {
    padding: 24px 22px 54px 22px;
    width: calc(100%-44px);
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #333;
}
.st-footer-inner {
    display: flex;
    width: 100%;
    gap: 66px;
    flex-direction: column;
}

.st-footer-date {
    display: flex;
    justify-content: center;
}

.st-footer-date img {
    width: 100%;
    height: auto;
}

.st-footer-logo {
    display: flex;
    justify-content: center;
}

.mega-menu {
    display: flex;
    justify-content: space-between;
}

.menu-column {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    margin-bottom: 24px;
    line-height: 1.4;
    transition: color 0.5s ease;
}

.menu-link.current {
    color: #ffc702; /* 強調色（TOPなど） */
}

.menu-link:hover {
    color: #ffc702; /* ホバー時の強調色 */
}

.menu-en {
    display: block;
    font-size: 24px;
    font-weight: bold;
}

.menu-ja {
    display: block;
    font-size: 16px;
    margin-top: 4px;
}

.menu-small {
    display: block;
    font-size: 14px;
    color: #fff;
    margin-top: 8px;
    width:fit-content;
    text-decoration: none;
    transition: color 0.5s ease;
}

.st-footer-copyright {
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
}

@media screen and (min-width: 1024px) {
    .st-footer {
        width: 432px;
        padding: 24px 44px 54px 44px;
    }
}