.st-main-contents {
    padding: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333333;
    padding-bottom: 128px;
}

.st-main-contents h2 {
    font-size: 42px;
}

.st-main-contents p {
    font-size: 24px;
}