.st-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 22px;
    margin-bottom: 58px;
}

dt , dd {
    margin-left: 0px;
}

dt {
    font-weight: bold;
    margin-bottom: 8px;
}

dd {
    font-size: 14px;
    margin-bottom: 16px;
}

.title-en {
    font-size: 48px;
}

.p-privacy-article .title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 32px;
    margin-bottom: 16px;
}

.p-privacy-article p {
    font-size: 14px;
    margin-bottom: 16px;
}

ul {
    margin-top: 12px;
    list-style-type: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
    font-size: 14px;
}

@media screen and (min-width: 1024px) {
    dt , dd {
        margin-left: 22px;
    }
    
}